* {
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
   
    width: 1440px;
    height: 1080px;
    background-color: #ECECEC;
}

.container {
    position: relative;
    width: 400px;
    height: 814px;
    margin-top: 133px;
    padding: 24px;
    left: 256px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px 0px #0000001F;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 32px;
    height: 32px;
}

.title{
    margin: 0;
    font-family: 'Palanquin Dark', system-ui, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.search{
    position: absolute;
    top: 91px;
    left: 20px;
    width: 360px;
    height: 42px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #F2F4F7;
}

.search_icon {
    width: 16px;
    height: 16px;
    opacity: .6;
}

.search input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #06172C99;
}

.search input::placeholder{
  color: #98A2B3;
}

.block_1 {
    position: absolute;
    display: flex;
    align-items: center;
    width: 360px;
    height: 134px;
    top: 167px;
    left: 20px;
    gap: 12px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px 0px #0000001F;
}

.thumb{
  width: 134px;
  height: 134px;
  border-radius: 24px;
  overflow: hidden;
  flex: 0 0 134px;
}

.thumb img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.pet-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconka {
    position: absolute;
    display: flex;
    align-items: center;
    width: 78px;
    height: 33px;
    top: 16px;
    left: 150px;
    gap: 4px;
}


.iconka img {
    width: 16px;
    height: 16px;   
}

.name {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #06172C;
}

.iconka_2 {
    position: absolute;
    width: 157px;
    height: 48px;
    top: 57px;
    left: 150px;
}

.name_2 {
    margin: 5px 0 10px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #06172C99;
}

.distance {
   position: absolute;
   display: flex;
   align-items: center;
   top: 97px;
   left: 150px;
   gap: 2px;
}

.distance__icon {
   width: 16px;
   height: 16px;
}

.distance__text {
   margin: 0;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   color: #06172C;
   letter-spacing: 0;
}

.heart{
    position: absolute;
    top: 59px;
    left: 328px;
}

.heart_2{
    width: 16px;
    height: 16px;
}

.block_2 {
    position: absolute;
    display: flex;
    align-items: center;
    width: 360px;
    height: 134px;
    top: 325px;
    left: 20px;
    gap: 12px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px 0px #0000001F;
}

.block_3 {
    position: absolute;
    display: flex;
    align-items: center;
    width: 360px;
    height: 134px;
    top: 483px;
    left: 20px;
    gap: 12px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px 0px #0000001F;
}

.block_4 {
    position: absolute;
    display: flex;
    align-items: center;
    width: 360px;
    height: 134px;
    top: 641px;
    left: 20px;
    gap: 12px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px 0px #0000001F;
}
